.row{
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid #80808021;
    border-radius: 4px;
}

.row_active{
    background-color: #28a74524;
}

.ticket{
    width: 70px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jira_link{
}

.jira_img,
.git_img{
    height: 24px;
}

.git_link{
}
